@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
}